<h1>Menú de información</h1>

<ul>
	<li>
		<a asp-controller="Informacion" asp-action="ControladorVista">
			Controlador ----> Vista
		</a>
	</li>
	<li>
		<a asp-controller="Informacion" asp-action="ControladorVistaModel">
			Controlador ----> Vista(Model)
		</a>
	</li>
	<li>
		@Html.ActionLink("Vista Controller GET", "VistaControllerGet", "Informacion", new {saludo = "Hola, Víctor", year = 2025})
	</li>
	<li>
		@Html.ActionLink("Vista Controller GET Sin saludo", "VistaControllerGet", "Informacion", new { year = 2025 })
	</li>
</ul>