@model List<int>

<h1>POST Tabla de multiplicar</h1>

<form method="post">
	<label>Número: </label>
	<input type="text" name="numero" class="form-control" />
	<button class="btn btn-primary">Mostrar tabla</button>
</form>

@if (Model != null)
{
	<h1>Tabla del @ViewData["numero"]:</h1>
	<ul>
		@for (int i = 0; i <= 10; i++)
		{
			<li><strong>@ViewData["numero"] * @i =</strong> @Model[i]</li>
		}
	</ul>
}